*{
    margin: 0;
    padding: 0;
}

.clear-fix:after {
    display: block;
    clear: both;
    /* ensure some older compatability */
    height: 0;
    font-size: 0;
    content: " ";
    /* extra backup */
    visibility: hidden;
}
html{
	background: url(.../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: beige;

}

header{
	width: 100%;
	display:block;
	background: url(.../img/bg.jpg) no-repeat center center fixed;	
	float: left;
	text-align: left;
	margin-bottom: 10px;
}

nav h1{
	float: left;
	font-size: 20px;
	margin: 10px;
}

nav ul{
	/* remove the default bullet point */
	display: block;
	/*Float to the right so it's on the right of the page(duh)*/
	float: right;
	max-width: 80%;
	background-color: white;
}

/*adding a display element gets rid of the bullet points
used for the list elements*/
nav ul li{
	display: inline;
	float: left;
	/*Float the elements to the left within the ul.
	Think of it as objects floating on water*/
	max-width: 100%;
}


/*use block so that the list item takes up the height of the
header, align the text the center of each block, and add padding around each text element, remove text-decoration as 
welll*/
nav ul li a{
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

/*On mouse hover over the elements of the list do this*/
nav ul li a:hover{
	background-color: #111;
	color: white;
}

div.ingredients{
	display: inline;
	margin: 20px;
	float: left;
	position: relative;
	padding: 20px;
	width: 400px;
	height: 200px;
}

div.ingredients ul{
	font-size:20px;
	text-align:left;
}

div.directions{
	display: inline-block;
	margin: 20px;
	float: left;
	position: relative;
	padding: 20px;

}

div.directions ol{
	font-size:20px;
	text-align:left;
}

div.bottom{
	display: block;
	position: absolute;

}

div.pancake{
	display: block;
	margin: 5px;
	padding: 4px;
}

#main_container{
	line-height:normal;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height:auto;
	text-align:center;
	margin: 0 auto;
}

footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
}